<div class="conainer" id="contenedor">
    <div class="row" id="filas">
        <div class="col"> <input type="button" value="X" class="btn btn-primary" (click)="EliminarEmpleado(i)"></div>
        <div class="col">Id:{{empleado.id}}</div>
        <div class="col">{{empleado.nombre}} </div>
        <div class="col">{{empleado.apellido}}</div>
        <div class="col">{{empleado.cargo}}</div>
        <div class="col">{{empleado.salario}}</div>
        <div class="col">
            <ul>
                <li *ngFor="let caracterisitica of caracteristicas; let i=index" class="caracteristica" (click)="eliminar(i)">
                    {{caracterisitica}}
                </li>
            </ul>
        </div>
        <div class="col">
            <app-caracteristicas-empleado (caracteristicasEmpleado)="agregarCaracteristica($event)"></app-caracteristicas-empleado>
        </div>


    </div>